# alfred
/alfred/Alfred.alfredpreferences/*
!/alfred/Alfred.alfredpreferences/workflows
!/alfred/Alfred.alfredpreferences/preferences
/alfred/Alfred.alfredpreferences/preferences/*
!/alfred/Alfred.alfredpreferences/preferences/features
/alfred/Alfred.alfredpreferences/preferences/features/*
!/alfred/Alfred.alfredpreferences/preferences/features/websearch
!/alfred/Alfred.alfredpreferences/preferences/features/defaultresults
